In [1]:
import pandas as pd
import numpy as np
import ast

In [2]:
bangalore_data = pd.read_excel('C:\\Users\\Joshua\\Downloads\\bangalore_cars.xlsx')
bangalore_data.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [3]:
bangalore_data['new_car_overview'][53]

"{'heading': 'Car overview', 'top': [{'key': 'Registration Year', 'value': '2008', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/registrationYear.svg'}, {'key': 'Insurance Validity', 'value': 'Third Party insurance', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/insuranceValidity.svg'}, {'key': 'Fuel Type', 'value': 'Petrol', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/fuel.svg'}, {'key': 'Seats', 'value': '5 Seats', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/seats.svg'}, {'key': 'Kms Driven', 'value': '60,000 Kms', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/kmsDriven.svg'}, {'key': 'Ownership', 'value': 'Second Owner', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/ownership.svg'}, {'key': 'Engine Displacement', 'value': '796 cc', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/engineDisplacement.svg'}, {'key': 'Transmission', 'value': 'Manual', 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/transmission.svg'}, {'key': 'Year of Manufacture', 'value': 2008, 'icon': 'https://images10.gaadi.com/listing/vdp/co/v1/yearManufacture.svg'}], 'bottomData': None}"

In [4]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]
tyre_type=[]

for i in range(bangalore_data.shape[0]):
    dic_1=bangalore_data['new_car_detail'][i]
    dic_2=bangalore_data['new_car_overview'][i]
    dic_3=bangalore_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    #try:
        #pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    #except:
        #pickup_speed.append(np.nan)
    #try:
        #tyre_type.append(res_2['data'][2]['list'][9]['value'])
    #except:
        #tyre_type.append(np.nan)

bangalore_data['fuel_type']=fuel_type
bangalore_data['body_type']=body_type
bangalore_data['kilometer']=kilometer
bangalore_data['transmission_type']=transmission_type
bangalore_data['owner_no']=owner_no
bangalore_data['brand']=brand
bangalore_data['model']=model
bangalore_data['model_year']=model_year
bangalore_data['price']=price
bangalore_data['registration_year']=registration_year
bangalore_data['seats_count']=seats_count
bangalore_data['RDO_no']=RDO_no
bangalore_data['engine_cc']=engine_cc
bangalore_data['mileage']=mileage
bangalore_data['max_power(bhp)']=max_power
bangalore_data['color']=color
bangalore_data['car_engine_cc']=car_engine_cc
bangalore_data['gear_box']=gear_box
bangalore_data['seating_capacity']=seating_capacity
bangalore_data['top_speed']=top_speed
#bangalore_data['pickup_speed']=pickup_speed
#bangalore_data['tyre_type']=tyre_type

In [5]:
res_2= ast.literal_eval(bangalore_data['new_car_specs'][18])
res_2['data'][0]['list'][1]['value']

'1.2l Turbocharged Revotron Engine'

In [6]:
bangalore_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed'],
      dtype='object')

In [7]:
bangalore_da=bangalore_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage', 'color', 'gear_box']]
bangalore_da.head(5)

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,400000.0,2015,5,KA51,998,23.1,White,5
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,811000.0,2018,5,KA05,1497,17,White,5
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,585000.0,2018,5,KA03,1199,23.84,Red,5
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,2014,5,KA53,1197,19.1,Others,5
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,2015,5,KA04,1248,23.65,Gray,5

In [8]:
bangalore_da['car_engine_cc'].unique()

array(['998', '1497', '1199', '1197', '1248', '1956', '1198', '1462',
       '2179', '1950', '1396', '1995', '1498', '4663', '1086', '1991',
       '1968', '1998', '2982', '1461', '1797', '796', '1353', '2925',
       '2987', '2967', '999', '1341', '1496', '1582', '1798', '1120',
       '1969', '1451', '814', '1999', '1591', '1397', '1368', '1598',
       '3198', '1196', '2993', '2755', '2143', '2354', '1332', '2199',
       '1997', '1499', '2148', '2696', '1364', '2494', '1373', '1299',
       '1061', '1493', '2497', '1495', '1590', '1896', '1330', '1781',
       '1390', '1194', '2953', '1399', '1595', 'Power', '2496',
       '210AH Lithium Ion', '0', '1984', nan, '2694', '1298', '2362',
       '2198', '1599', '993', '2393', '1389', '1597', '2498', '2523',
       '1586', '995', '2499', '2998', '72', '1589', '624', '1596', '799',
       '3597', '2184', '1405', '5000', '1422', '1047', '2200', '2996',
       '1108', '2400', '1996', '1395'], dtype=object)

In [9]:
chennai_data = pd.read_excel('C:\\Users\\Joshua\\Downloads\\chennai_cars.xlsx')
chennai_data

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Minivans', 'k...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Low...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
3,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
4,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
...,...,...,...,...,...
1414,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1415,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1416,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1417,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1418,"{'it': 0, 'ft': 'Diesel', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [10]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
car_engine_cc1=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]


for i in range(chennai_data.shape[0]):
    dic_1=chennai_data['new_car_detail'][i]
    dic_2=chennai_data['new_car_overview'][i]
    dic_3=chennai_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    try:
        pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    except:
        pickup_speed.append(np.nan)
    try:
        tyre_type.append(res_2['data'][2]['list'][9]['value'])
    except:
        tyre_type.append(np.nan)

chennai_data['fuel_type']=fuel_type
chennai_data['body_type']=body_type
chennai_data['kilometer']=kilometer
chennai_data['transmission_type']=transmission_type
chennai_data['owner_no']=owner_no
chennai_data['brand']=brand
chennai_data['model']=model
chennai_data['model_year']=model_year
chennai_data['price']=price
chennai_data['registration_year']=registration_year
chennai_data['seats_count']=seats_count
chennai_data['RDO_no']=RDO_no
chennai_data['engine_cc']=engine_cc
chennai_data['mileage']=mileage
chennai_data['max_power(bhp)']=max_power
chennai_data['color']=color
chennai_data['car_engine_cc']=car_engine_cc
chennai_data['gear_box']=gear_box
chennai_data['seating_capacity']=seating_capacity
chennai_data['top_speed']=top_speed
chennai_data['pickup_speed']=pickup_speed

In [11]:
chennai_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed', 'pickup_speed'],
      dtype='object')

In [12]:
chennai_da=chennai_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage', 'color', 'gear_box']]
chennai_da.head()

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Petrol,SUV,"20,000",Automatic,1,Kia,Kia Sonet,2022,1150000.0,2022,5,TN02,998,9,Black,7
1,Petrol,Minivans,"20,687",Manual,1,Maruti,Maruti Eeco,2015,415000.0,2015,7,TN04,1196,15.37,Grey,5
2,Petrol,SUV,"30,000",Manual,1,Nissan,Nissan Magnite,2021,750000.0,2021,5,TN22,999,20,Others,5
3,Petrol,Hatchback,"59,247",Manual,1,Hyundai,Hyundai i10,2015,398000.0,2015,5,TN11,1086,19.81,Silver,5
4,Petrol,Hatchback,"50,000",Manual,1,Honda,Honda Jazz,2015,550000.0,2015,5,KA03,1199,18.7,Others,5

In [13]:
chennai_da['car_engine_cc'].unique()

array(['998', '1196', '999', '1086', '1199', '2143', '1995', '1497',
       '1197', '1956', '2755', '1198', '1248', '0', '1582', '1984',
       '2694', '1498', '1298', '1461', '1798', '1364', '1591', '1968',
       '2967', '2393', '2993', '1368', '2198', '1373', '1598', '2179',
       '1462', '1451', '1194', '1991', '1493', '1998', '4663', '2987',
       '796', '1186', '1799', '1950', '1496', '2925', '1396', '1353',
       '799', '1405', '814', '2494', nan, '1399', '1997', '1047', '2999',
       '1499', '2184', '1896', '1999', '1969', '1495', '1390', '1120',
       '1482', '2523', '2354', '624', '793', '936', '4134', '993', '2499',
       '2982', '1796', '1422', '1172', '1468', '1599', '1586', '1193',
       '2199', '1330', '2696', '2400', '2477', '2998', '2997', '2995',
       '1395', '2487'], dtype=object)

In [16]:
delhi_data = pd.read_excel('C:\\Users\\Joshua\\Downloads\\delhi_cars.xlsx')
delhi_data.head(3)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...
2,"{'it': 0, 'ft': 'Petrol', 'bt': 'SUV', 'km': '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...

In [17]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]


for i in range(delhi_data.shape[0]):
    dic_1=delhi_data['new_car_detail'][i]
    dic_2=delhi_data['new_car_overview'][i]
    dic_3=delhi_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    try:
        pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    except:
        pickup_speed.append(np.nan)
    try:
        tyre_type.append(res_2['data'][2]['list'][9]['value'])
    except:
        tyre_type.append(np.nan)

delhi_data['fuel_type']=fuel_type
delhi_data['body_type']=body_type
delhi_data['kilometer']=kilometer
delhi_data['transmission_type']=transmission_type
delhi_data['owner_no']=owner_no
delhi_data['brand']=brand
delhi_data['model']=model
delhi_data['model_year']=model_year
delhi_data['price']=price
delhi_data['registration_year']=registration_year
delhi_data['seats_count']=seats_count
delhi_data['RDO_no']=RDO_no
delhi_data['engine_cc']=engine_cc
delhi_data['mileage']=mileage
delhi_data['max_power(bhp)']=max_power
delhi_data['color']=color
delhi_data['car_engine_cc']=car_engine_cc
delhi_data['gear_box']=gear_box
delhi_data['seating_capacity']=seating_capacity
delhi_data['top_speed']=top_speed
delhi_data['pickup_speed']=pickup_speed

In [18]:
delhi_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed', 'pickup_speed'],
      dtype='object')

In [19]:
delhi_da=delhi_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage',  'color', 'gear_box']]
delhi_da.head(5)

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Diesel,SUV,"10,000",Automatic,1,Kia,Kia Seltos,2022,1900000.0,2022,5,First Owner,1493,18,Gray,6
1,Petrol,SUV,"57,437",Manual,2,Hyundai,Hyundai Creta,2016,762000.0,2016,5,HR51,1591,15.29,White,6
2,Petrol,SUV,"8,000",Automatic,1,Mercedes-Benz,Mercedes-Benz GLC,2020,5600000.0,2020,5,DL01,1991,12.74,Grey,9
3,Petrol,Hatchback,"28,151",Manual,2,Maruti,Maruti Swift,2018,523000.0,2019,5,DL4C,1197,22.38,Silver,5
4,Petrol,SUV,"60,000",Manual,1,Hyundai,Hyundai Creta,2017,765000.0,2017,5,DL8C,1591,15.29,White,6

In [20]:
hyderabad_data=pd.read_excel('C:\\Users\\Joshua\\Downloads\\hyderabad_cars.xlsx')
hyderabad_data.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [21]:
hyderabad_data['new_car_detail'][550]

"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', 'km': '73,202', 'transmission': 'Manual', 'ownerNo': 1, 'owner': '1st Owner', 'oem': 'Hyundai', 'model': 'Hyundai i20', 'modelYear': 2016, 'centralVariantId': 1482, 'variantName': 'Asta 1.2', 'price': 'â‚¹ 6.05 Lakh', 'priceActual': 'â‚¹ 6.75 Lakh', 'priceSaving': '', 'priceFixedText': None, 'trendingText': {'imgUrl': 'https://stimg.cardekho.com/used-cars/common/icons/trending.svg', 'heading': 'Trending Car!', 'desc': 'High chances of sale in next 6 days'}}"

In [22]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
car_engine_cc1=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]


for i in range(hyderabad_data.shape[0]):
    dic_1=hyderabad_data['new_car_detail'][i]
    dic_2=hyderabad_data['new_car_overview'][i]
    dic_3=hyderabad_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    try:
        pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    except:
        pickup_speed.append(np.nan)
    #try:
        #tyre_type.append(res_2['data'][2]['list'][9]['value'])
    #except:
        #tyre_type.append(np.nan)

hyderabad_data['fuel_type']=fuel_type
hyderabad_data['body_type']=body_type
hyderabad_data['kilometer']=kilometer
hyderabad_data['transmission_type']=transmission_type
hyderabad_data['owner_no']=owner_no
hyderabad_data['brand']=brand
hyderabad_data['model']=model
hyderabad_data['model_year']=model_year
hyderabad_data['price']=price
hyderabad_data['registration_year']=registration_year
hyderabad_data['seats_count']=seats_count
hyderabad_data['RDO_no']=RDO_no
hyderabad_data['engine_cc']=engine_cc
hyderabad_data['mileage']=mileage
hyderabad_data['max_power(bhp)']=max_power
hyderabad_data['color']=color
hyderabad_data['car_engine_cc']=car_engine_cc
hyderabad_data['gear_box']=gear_box
hyderabad_data['seating_capacity']=seating_capacity
hyderabad_data['top_speed']=top_speed
hyderabad_data['pickup_speed']=pickup_speed

In [23]:
hyderabad_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed', 'pickup_speed'],
      dtype='object')

In [24]:
hyderabad_da=hyderabad_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage',  'color', 'gear_box']]
hyderabad_da.head(5)

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Petrol,Hatchback,"20,000",Automatic,1,Volkswagen,Volkswagen Polo,2022,1044000.0,2022,5,TS04,999,16.47,Others,6
1,Petrol,Hatchback,"85,582",Manual,2,Hyundai,Hyundai EON,2014,260000.0,2014,5,TS09,814,21.1,Red,5
2,Petrol,SUV,"10,000",Manual,1,Hyundai,Hyundai Venue,2023,955000.0,2023,5,First Owner,1197,11,Others,5
3,Petrol,Hatchback,"50,750",Manual,1,Maruti,Maruti Baleno,2017,671000.0,2017,5,TS07,1197,21.4,Red,5
4,Petrol,SUV,"10,000",Automatic,1,Mahindra,Mahindra Thar,2022,1900000.0,2022,4,First Owner,1997,19,Others,6

In [25]:
jaipur_data = pd.read_excel('C:\\Users\\Joshua\\Downloads\\jaipur_cars.xlsx')
jaipur_data.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Diesel', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [26]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]


for i in range(jaipur_data.shape[0]):
    dic_1=jaipur_data['new_car_detail'][i]
    dic_2=jaipur_data['new_car_overview'][i]
    dic_3=jaipur_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    try:
        pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    except:
        pickup_speed.append(np.nan)
    #try:
        #tyre_type.append(res_2['data'][2]['list'][9]['value'])
    #except:
        #tyre_type.append(np.nan)

jaipur_data['fuel_type']=fuel_type
jaipur_data['body_type']=body_type
jaipur_data['kilometer']=kilometer
jaipur_data['transmission_type']=transmission_type
jaipur_data['owner_no']=owner_no
jaipur_data['brand']=brand
jaipur_data['model']=model
jaipur_data['model_year']=model_year
jaipur_data['price']=price
jaipur_data['registration_year']=registration_year
jaipur_data['seats_count']=seats_count
jaipur_data['RDO_no']=RDO_no
jaipur_data['engine_cc']=engine_cc
jaipur_data['mileage']=mileage
jaipur_data['max_power(bhp)']=max_power
jaipur_data['color']=color
jaipur_data['car_engine_cc']=car_engine_cc
jaipur_data['gear_box']=gear_box
jaipur_data['seating_capacity']=seating_capacity
jaipur_data['top_speed']=top_speed
jaipur_data['pickup_speed']=pickup_speed

In [27]:
jaipur_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed', 'pickup_speed'],
      dtype='object')

In [28]:
jaipur_da=jaipur_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage', 'color', 'gear_box']]
jaipur_da.head()

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Diesel,Hatchback,"1,20,000",Manual,2,Hyundai,Hyundai i20,2015,510000.0,2015,5,RJ13,1396,22.54,Others,6
1,Petrol,Hatchback,"66,951",Manual,1,Maruti,Maruti Swift,2012,381000.0,2012,5,RJ14,1197,22.38,White,5
2,Petrol,Hatchback,"80,000",Automatic,2,Maruti,Maruti Celerio,2016,320000.0,2016,5,RJ14,998,23.1,Others,5
3,Petrol,Hatchback,"44,392",Manual,1,Hyundai,Hyundai Grand i10,2017,420000.0,2017,5,RJ14,1197,18.9,Silver,5
4,Petrol,Hatchback,"40,000",Automatic,1,Maruti,Maruti Wagon R,2016,350000.0,2016,5,RJ14,998,20.51,Silver,5

In [29]:
kolkata_data=pd.read_excel('C:\\Users\\Joshua\\Downloads\\kolkata_cars.xlsx')
kolkata_data.head(2)

,new_car_detail,new_car_overview,new_car_feature,new_car_specs,car_links
0,"{'it': 0, 'ft': 'Petrol', 'bt': 'Sedan', 'km':...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/used-car-details/used...
1,"{'it': 0, 'ft': 'Petrol', 'bt': 'Hatchback', '...","{'heading': 'Car overview', 'top': [{'key': 'R...","{'heading': 'Features', 'top': [{'value': 'Pow...","{'heading': 'Specifications', 'top': [{'key': ...",https://www.cardekho.com/buy-used-car-details/...

In [30]:
fuel_type=[]
body_type=[]
kilometer=[]
transmission_type=[]
owner_no=[]
brand=[]
model=[]
model_year=[]
price=[]
registration_year=[]
seats_count=[]
RDO_no=[]
engine_cc=[]
mileage=[]
max_power=[]
color=[]
car_engine_cc=[]
gear_box=[]
seating_capacity=[]
top_speed=[]
pickup_speed=[]


for i in range(kolkata_data.shape[0]):
    dic_1=kolkata_data['new_car_detail'][i]
    dic_2=kolkata_data['new_car_overview'][i]
    dic_3=kolkata_data['new_car_specs'][i]
    
    res = ast.literal_eval(dic_1)
    res_1 = ast.literal_eval(dic_2)
    res_2 = ast.literal_eval(dic_3)
    
    fuel_type.append(res['ft'])
    body_type.append(res['bt'])
    kilometer.append(res['km'])
    transmission_type.append(res['transmission'])
    owner_no.append(res['ownerNo'])
    brand.append(res['oem'])
    model.append(res['model'])
    model_year.append(res['modelYear'])
    price.append(float(res['price'][2:-5])*100000)
    
    try:
        registration_year.append(res_1['top'][0]['value'][-4:])
    except:
        registration_year.append(np.nan)
    try:
        seats_count.append(res_1['top'][3]['value'][0])
    except:
        seats_count.append(np.nan)
    try:
        RDO_no.append(res_1['top'][5]['value'])
    except:
        RDO_no.append(np.nan)
    try:
        engine_cc.append(res_1['top'][7]['value'][:-3])
    except:
        engine_cc.append(np.nan)
    mileage.append(res_2['top'][0]['value'][:-5])
    try:
        max_power.append(res_2['top'][2]['value'][:-3])
    except:
        max_power.append(np.nan)
    color.append(res_2['data'][0]['list'][0]['value'])
    try:
        if (res_2['data'][0]['list'][2]['value']).isnumeric():
            car_engine_cc.append(res_2['data'][0]['list'][2]['value'])
        else:
            car_engine_cc.append(res_2['data'][0]['list'][1]['value'])
    except:
        car_engine_cc.append(np.nan)
    try:
        gear_box.append(res_2['data'][2]['list'][0]['value'][0])
    except:
        gear_box.append(np.nan)
    try:
        seating_capacity.append(res_2['data'][2]['list'][2]['value'])
    except:
        seating_capacity.append(np.nan)
    try:
        top_speed.append(res_2['data'][2]['list'][7]['value'])
    except:
        top_speed.append(np.nan)
    try:
        pickup_speed.append(res_2['data'][2]['list'][8]['value'])
    except:
        pickup_speed.append(np.nan)
   

kolkata_data['fuel_type']=fuel_type
kolkata_data['body_type']=body_type
kolkata_data['kilometer']=kilometer
kolkata_data['transmission_type']=transmission_type
kolkata_data['owner_no']=owner_no
kolkata_data['brand']=brand
kolkata_data['model']=model
kolkata_data['model_year']=model_year
kolkata_data['price']=price
kolkata_data['registration_year']=registration_year
kolkata_data['seats_count']=seats_count
kolkata_data['RDO_no']=RDO_no
kolkata_data['engine_cc']=engine_cc
kolkata_data['mileage']=mileage
kolkata_data['max_power(bhp)']=max_power
kolkata_data['color']=color
kolkata_data['car_engine_cc']=car_engine_cc
kolkata_data['gear_box']=gear_box
kolkata_data['seating_capacity']=seating_capacity
kolkata_data['top_speed']=top_speed
kolkata_data['pickup_speed']=pickup_speed

In [31]:
kolkata_data.columns

Index(['new_car_detail', 'new_car_overview', 'new_car_feature',
       'new_car_specs', 'car_links', 'fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'engine_cc',
       'mileage', 'max_power(bhp)', 'color', 'car_engine_cc', 'gear_box',
       'seating_capacity', 'top_speed', 'pickup_speed'],
      dtype='object')

In [32]:
kolkata_da=kolkata_data[['fuel_type', 'body_type', 'kilometer',
       'transmission_type', 'owner_no', 'brand', 'model', 'model_year',
       'price', 'registration_year', 'seats_count', 'RDO_no', 'car_engine_cc',
       'mileage',  'color', 'gear_box']]
kolkata_da.head()

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box
0,Petrol,Sedan,"70,000",Automatic,3,Toyota,Toyota Camry,2014,975000.0,2014,5,WB02,2494,19.16,White,6
1,Petrol,Hatchback,"23,981",Manual,1,Datsun,Datsun RediGO,2017,266000.0,2017,5,WB24,799,22.7,Red,5
2,Petrol,SUV,"7,100",Automatic,1,Renault,Renault Kiger,2021,595000.0,2021,5,WB06,999,19.03,Blue,5
3,Petrol,Hatchback,"71,574",Manual,2,Hyundai,Hyundai i20,2011,223000.0,2012,5,WB06,1197,17,Red,5
4,Diesel,SUV,"50,000",Automatic,2,Audi,Audi Q3,2014,1200000.0,2014,5,WB02,1968,15.73,White,7

In [33]:
bangalore_da['location']="bangalore"
chennai_da['location']="chennai"
delhi_da['location']="delhi"
hyderabad_da['location']="hyderabad"
jaipur_da['location']="jaipur"
kolkata_da['location']="kolkata"

C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  bangalore_da['location']="bangalore"
C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chennai_da['location']="chennai"
C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delhi_da['location']="delhi"
C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  hyderabad_da['location']="hyderabad"
C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  jaipur_da['location']="jaipur"
C:\Users\Joshua\AppData\Local\Temp\ipykernel_10800\1040083401.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kolkata_da['location']="kolkata"

In [34]:
all_data=pd.concat([bangalore_da,chennai_da,delhi_da,hyderabad_da,jaipur_da,kolkata_da]).reset_index()
all_data.shape

(8369, 18)

In [35]:
all_data.drop(columns="index",inplace=True)

In [36]:
all_data.head()

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,400000.0,2015,5,KA51,998,23.1,White,5,bangalore
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,811000.0,2018,5,KA05,1497,17,White,5,bangalore
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,585000.0,2018,5,KA03,1199,23.84,Red,5,bangalore
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,2014,5,KA53,1197,19.1,Others,5,bangalore
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,2015,5,KA04,1248,23.65,Gray,5,bangalore

In [37]:
all_data['registration_year'].unique()

array(['2015', '2018', '2014', '2020', '2017', '2021', '2019', '2022',
       '2016', '2011', '2009', '2013', '2010', '2008', '2006', '2012',
       '2005', '2007', '2023', 'ance', '2004', '2003', '2002', 'sive',
       'arty', 'able'], dtype=object)

In [38]:
model_year_merge=all_data[all_data['registration_year'].isin(['ance','sive','arty', 'able'])]['model_year']

In [39]:
all_data.loc[all_data['registration_year'].isin(['ance','sive','arty', 'able']),'registration_year']=model_year_merge

In [40]:
all_data['registration_year']=all_data['registration_year'].astype(int)

In [41]:
def age(x):
    new=(2023 - x)
    return new
all_data['age']=all_data['registration_year'].apply(age)

In [42]:
#engine cc
all_data['car_engine_cc'].value_counts()

car_engine_cc
1197    1604
998      639
1199     489
1497     451
1248     420
        ...
3597       1
2200       1
2997       1
1108       1
2489       1
Name: count, Length: 150, dtype: int64

In [43]:
drop_data=all_data[all_data['car_engine_cc'].isin(['210AH Lithium Ion','Power','72'])]
all_data.drop(drop_data.index,inplace=True)

In [44]:
k='720'
all_data.loc[all_data['car_engine_cc']=='72','car_engine_cc']=k

In [45]:
all_data.head()

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location,age
0,Petrol,Hatchback,"1,20,000",Manual,3,Maruti,Maruti Celerio,2015,400000.0,2015,5,KA51,998,23.1,White,5,bangalore,8
1,Petrol,SUV,"32,706",Manual,2,Ford,Ford Ecosport,2018,811000.0,2018,5,KA05,1497,17,White,5,bangalore,5
2,Petrol,Hatchback,"11,949",Manual,1,Tata,Tata Tiago,2018,585000.0,2018,5,KA03,1199,23.84,Red,5,bangalore,5
3,Petrol,Sedan,"17,794",Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,2014,5,KA53,1197,19.1,Others,5,bangalore,9
4,Diesel,SUV,"60,000",Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,2015,5,KA04,1248,23.65,Gray,5,bangalore,8

In [46]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8364 entries, 0 to 8368
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fuel_type          8364 non-null   object
 1   body_type          8364 non-null   object
 2   kilometer          8364 non-null   object
 3   transmission_type  8364 non-null   object
 4   owner_no           8364 non-null   int64
 5   brand              8364 non-null   object
 6   model              8364 non-null   object
 7   model_year         8364 non-null   int64
 8   price              8364 non-null   float64
 9   registration_year  8364 non-null   int32
 10  seats_count        8364 non-null   object
 11  RDO_no             8364 non-null   object
 12  car_engine_cc      8307 non-null   object
 13  mileage            8364 non-null   object
 14  color              8364 non-null   object
 15  gear_box           8327 non-null   object
 16  location           8364 non-null   object
 17  age                8364 non-null   int64
dtypes: float64(1), int32(1), int64(3), object(13)
memory usage: 1.2+ MB

In [47]:
#null percent
null_percentage=(all_data.isnull().mean()*100).round(2)
pd.DataFrame({
    'columns':null_percentage.index,
    'null_percentage':null_percentage.values
}).sort_values('null_percentage',ascending=False)

              columns  null_percentage
12      car_engine_cc             0.68
15           gear_box             0.44
0           fuel_type             0.00
1           body_type             0.00
16           location             0.00
14              color             0.00
13            mileage             0.00
11             RDO_no             0.00
10        seats_count             0.00
9   registration_year             0.00
8               price             0.00
7          model_year             0.00
6               model             0.00
5               brand             0.00
4            owner_no             0.00
3   transmission_type             0.00
2           kilometer             0.00
17                age             0.00

In [48]:
all_data.isnull().sum()

fuel_type             0
body_type             0
kilometer             0
transmission_type     0
owner_no              0
brand                 0
model                 0
model_year            0
price                 0
registration_year     0
seats_count           0
RDO_no                0
car_engine_cc        57
mileage               0
color                 0
gear_box             37
location              0
age                   0
dtype: int64

In [49]:
lis=[]
i=0
for i in all_data.columns:
    k=(all_data[i]==0).sum()
    print(i,':',k)

fuel_type : 0
body_type : 0
kilometer : 0
transmission_type : 0
owner_no : 32
brand : 0
model : 0
model_year : 0
price : 0
registration_year : 0
seats_count : 0
RDO_no : 0
car_engine_cc : 0
mileage : 0
color : 0
gear_box : 0
location : 0
age : 120

In [50]:
#km
all_data['kilometer'].unique()

array(['1,20,000', '32,706', '11,949', ..., '53,562', '32,190',
       '1,51,000'], dtype=object)

In [51]:
all_data['kilometer']=all_data['kilometer'].str.replace(',', '').astype(int)

In [52]:
#transmission
all_data['transmission_type'].unique()

array(['Manual', 'Automatic'], dtype=object)

In [53]:
#owner no
all_data['owner_no'].unique()

array([3, 2, 1, 4, 5, 0], dtype=int64)

In [54]:
all_data[all_data['owner_no']==0]

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location,age
1803,Petrol,Sedan,95963,Manual,0,Honda,Honda City,2017,630000.0,2017,9,Manual,1497,17.8,White,5,chennai,6
1893,Petrol,Hatchback,30428,Manual,0,Maruti,Maruti Baleno,2018,650000.0,2018,3,Manual,1197,21.4,Blue,5,chennai,5
1940,Petrol,Hatchback,60611,Manual,0,Honda,Honda Jazz,2016,520000.0,2016,6,Manual,1199,18.7,Brown,5,chennai,7
2018,Petrol,Sedan,25284,Manual,0,Honda,Honda City,2019,925000.0,2019,2,Manual,1497,17.4,Silver,5,chennai,4
2060,Petrol,Hatchback,36385,Manual,0,Maruti,Maruti Alto,2007,165000.0,2007,3,Manual,796,19.7,Red,5,chennai,16
2217,Petrol,Hatchback,37942,Manual,0,Maruti,Maruti Wagon R,2016,430000.0,2016,3,Manual,998,20.51,Red,5,chennai,7
2258,Petrol,Sedan,73045,Manual,0,Honda,Honda Amaze,2014,395000.0,2014,7,Manual,1198,18,Red,5,chennai,9
2293,Petrol,Hatchback,19252,Manual,0,Hyundai,Hyundai i20,2021,770000.0,2021,1,Manual,998,20,Grey,6,chennai,2
2312,Petrol,Hatchback,31268,Manual,0,Renault,Renault KWID,2020,425000.0,2020,3,Manual,999,21.74,Brown,5,chennai,3
2334,Petrol,Hatchback,68767,Manual,0,Maruti,Maruti Alto,2009,180000.0,2009,6,Manual,796,19.7,Red,5,chennai,14
2338,Petrol,Hatchback,13270,Manual,0,Maruti,Maruti Baleno,2021,710000.0,2021,1,1197 cc,1197,21.01,Blue,5,chennai,2
2399,Diesel,Sedan,129306,Manual,0,Maruti,Maruti Swift Dzire,2009,310000.0,2009,1,Manual,1248,19.3,Blue,5,chennai,14
2457,Petrol,Sedan,167332,Manual,0,Honda,Honda City,2015,445000.0,2015,1,Manual,1497,17.4,Brown,5,chennai,8
2466,Petrol,Hatchback,132724,Manual,0,Maruti,Maruti Alto K10,2015,225000.0,2015,1,998 cc,998,23.95,Red,5,chennai,8
2553,Diesel,Hatchback,65991,Manual,0,Maruti,Maruti Swift,2013,395000.0,2013,6,Manual,1248,22.9,Blue,5,chennai,10
2557,Petrol,Sedan,22421,Automatic,0,Honda,Honda Amaze,2019,640000.0,2019,2,Automatic,1199,19,Red,5,chennai,4
2558,Diesel,Hatchback,83045,Manual,0,Tata,Tata Indica,2009,135000.0,2009,8,Manual,1405,17,Orange,5,chennai,14
2559,Petrol,Hatchback,86715,Manual,0,Hyundai,Hyundai i10,2008,170000.0,2008,8,Manual,1197,20.36,Black,5,chennai,15
2560,Petrol,Hatchback,77032,Manual,0,Hyundai,Hyundai i10,2008,195000.0,2008,7,Manual,1086,19.81,Red,5,chennai,15
2563,Diesel,Sedan,89545,Manual,0,Volkswagen,Volkswagen Vento,2010,310000.0,2010,8,Manual,1598,20.54,Silver,5,chennai,13
2856,Petrol,SUV,15000,Automatic,0,Audi,Audi Q3,2022,4400000.0,2022,1,Automatic,1984,19,Blue,7,chennai,1
2858,Petrol,SUV,7087,Manual,0,Renault,Renault Kiger,2022,972000.0,2022,7,Manual,999,20.5,Silver,5,chennai,1
3165,Diesel,SUV,7800,Automatic,0,MG,MG Gloster,2023,4500000.0,2023,7,Automatic,1996,12.04,Grey,8,delhi,0
3651,Diesel,SUV,7800,Automatic,0,MG,MG Gloster,2023,4645000.0,2023,7,Automatic,1996,12.04,Grey,8,delhi,0
4205,Diesel,SUV,35000,Automatic,0,Land Rover,Land Rover Range Rover Sport,2018,103000.0,2018,3,2993 cc,2993,12.65,White,8,delhi,5
4341,Petrol,Sedan,37000,Manual,0,Skoda,Skoda Octavia,2017,1049000.0,2017,3,Manual,1395,16.7,White,6,delhi,6
4384,Diesel,SUV,7000,Automatic,0,MG,MG Gloster,2023,4640000.0,2023,7,Automatic,1996,12.04,Grey,8,delhi,0
6310,Electric,SUV,4140,Automatic,0,Tata,Tata Nexon EV Max,2023,1600000.0,2023,4,Automatic,0,,White,5,jaipur,0
7119,Petrol,SUV,5000,Automatic,0,Mahindra,Mahindra XUV300,2022,1320000.0,2022,5,Automatic,1197,16.5,White,6,kolkata,1
7525,Petrol,Hatchback,6000,Manual,0,Renault,Renault KWID,2021,449000.0,2021,6,Manual,999,23.01,Outback Bronze,5,kolkata,2
7686,Diesel,SUV,14000,Manual,0,Mahindra,Mahindra XUV700,2022,2220000.0,2022,1,Manual,2198,21,Blue,6,kolkata,1
8083,Petrol,SUV,15400,Manual,0,Skoda,Skoda Kushaq,2022,1250000.0,2022,1,Manual,999,19.2,Grey,6,kolkata,1

In [55]:
#seat count
all_data['seats_count'].unique()

array(['5', '7', '4', '6', '8', '3', '1', '9', '2'], dtype=object)

In [56]:
all_data['seats_count']=all_data['seats_count'].astype(int)

In [57]:
def rdo_(x):
    for i in x:
        if len(str(i))==4:
            pass
        else:
            print(np.nan)

In [58]:
x=['KA51', 'KA05', 'KA03', 'KA53', 'KA04', 'First Owner', 'KA01',
       'OD02', 'KA41', 'KA02', 'Third Owner', 'Second Owner', 'HR26',
       'WB38', 'KA47', 'KA19', 'KA50', 'KA09', 'PY01', 'KA66', 'KA20']
for i in x:
    k=[len(str(i))==4]
    print(k)

[True]
[True]
[True]
[True]
[True]
[False]
[True]
[True]
[True]
[True]
[False]
[False]
[True]
[True]
[True]
[True]
[True]
[True]
[True]
[True]
[True]

In [59]:
# all_data[all_data['registration_year']==0]
all_data['RDO_no'].value_counts()
all_data['RDO_no'].unique()

array(['KA51', 'KA05', 'KA03', 'KA53', 'KA04', 'First Owner', 'KA01',
       'OD02', 'KA41', 'KA02', 'Third Owner', 'Second Owner', 'HR26',
       'WB38', 'KA47', 'KA19', 'KA50', 'KA09', 'PY01', 'KA66', 'KA20',
       'KA52', 'KA25', 'KA27', 'TN09', 'KA13', 'MH46', 'KA42', 'KA12',
       'KL07', 'Fourth Owner', 'KA55', 'KA07', 'KA17', 'KA16', 'TN33',
       'KA06', 'KA22', 'KA14', 'KA35', 'KA21', 'KA32', 'KL24', 'KA63',
       'KA26', 'KA11', 'KA36', 'KA40', 'Fifth Owner', 'DL14', 'UP32',
       'KA34', 'KA45', '796 cc', 'AP39', 'DL8C', 'MH48', 'TN14', 'MH03',
       'TN10', 'WB26', 'WB08', 'MH31', 'KL60', 'WB12', 'VK28', 'UP16',
       'KL58', 'MP20', 'KA59', 'KA18', 'KA68', 'KA31', 'UP14', 'GJ06',
       'UP70', 'DL03', '1999 cc', 'AP28', 'HR51', 'RJ05', 'HR13', 'CH01',
       'MH04', 'JH01', 'KA33', 'TS07', 'TN02', 'TN04', 'TN22', 'TN11',
       'TN06', 'TN05', 'TN07', 'TN19', 'TN01', 'TN24', 'TN18', 'TN03',
       'TN12', 'TN63', 'TN13', 'TN42', 'TN91', 'TN29', 'TN77', 'TN23',
       'TN57', 'TN87', 'TN49', 'TN20', 'TN90', 'TN47', 'TN85', 'KL22',
       'UP57', 'TN81', 'TN15', 'TN21', 'TN32', 'TN83', 'TN64', 'TN73',
       'TN45', 'TN84', 'TN69', 'TN97', 'TN08', 'Manual', 'AP16', 'TN30',
       'TN72', 'TN58', 'TN31', 'TN75', 'TN36', 'TN82', 'TN16', 'TN70',
       'TN 0', 'TN48', 'TN38', 'TN 1', 'TN65', 'HP38', 'TN54', 'MH43',
       'TN95', '1197 cc', 'UP63', 'TN37', 'TN59', 'TN99', '998 cc',
       'TN88', 'OR02', 'TN51', 'TN55', 'Automatic', 'TN25', 'TN96',
       'TN74', 'TN66', 'TN60', 'HR98', 'TM02', 'DL01', 'DL4C', 'DL9X',
       'DL10', 'DL3C', 'DL04', 'Up15', 'DL2C', 'UP21', 'DL09', 'UK07',
       'UP80', 'HR72', 'DL26', 'PH65', 'Hr22', 'UP15', 'DD4L', 'DL9C',
       'GJ01', 'DL1C', 'DL6C', 'UP37', 'DL7C', 'DL5C', 'DL02', 'DL12',
       'HR89', 'HR29', 'TS09', 'UK14', 'HR36', 'HP01', 'UP01', 'HR06',
       'HR01', 'MH01', 'HR87', 'DL07', 'DL13', 'DL05', 'UK18', 'PB01',
       'DL08', 'HP07', 'HR70', 'UP10', 'HR05', 'UP12', 'DL1Z', 'HR16',
       'DD8L', 'MP30', 'HP12', 'DL86', 'HP34', 'HP52', 'UP13', 'DL11',
       'PB70', 'DL3F', 'PY05', 'HR90', 'HR12', 'UP78', 'HR52', 'HP17',
       'HR30', 'HP62', 'UK17', 'HR19', 'PB08', 'HP05', 'HP93', 'HR03',
       'MH05', 'TS08', 'MH02', 'UP25', 'AS01', 'UP65', 'DL1V', 'DL5P',
       'Dl12', 'DL1U', 'UP85', 'CG04', 'HR08', 'DL2B', 'DL9A', 'HP15',
       'JH05', 'UP81', 'HR81', 'JH10', 'UP53', 'MP07', 'UK08', 'HR10',
       'DL16', 'PB03', 'HR24', 'HR78', 'PB10', 'UK15', 'UK06', 'HR35',
       'HR14', 'HR42', '2993 cc', 'HP95', 'HR55', 'UP11', 'UP17', 'DL8A',
       'PB87', 'MP04', 'DD06', 'TS04', 'TS32', 'AP10', 'TS15', 'TS22',
       'TS13', 'TS11', 'TS28', 'TS30', 'TS10', 'TS27', 'TS16', 'TS17',
       'TS05', 'TS23', 'TS06', 'AP11', 'AP26', 'TS12', 'TS35', 'AP04',
       'TS33', 'TS03', 'TS25', 'AP13', 'AP22', 'TS31', 'AP07', 'TS29',
       'AP09', 'TS02', 'AP29', 'TS19', 'AP20', 'TS34', 'AP36', 'TS36',
       'TS24', 'AP31', 'AP23', 'TS01', 'AP21', 'AP05', 'GA03', 'TA13',
       'AP24', 'AP12', 'AP27', 'TS21', 'TT07', 'MH14', 'KK04', 'WB02',
       'TA10', 'AP25', 'TA07', 'AP02', 'AP01', 'AA28', 'MP09', 'TN41',
       'GJ04', '1799 cc', 'TS26', 'TT02', 'TS18', 'TN39', 'TD07',
       '2446 cc', 'AP37', 'RJ13', 'RJ14', 'RJ32', 'RJ45', 'RJ19', 'RJ01',
       'RJ27', 'RJ02', 'RJ37', '22BH', 'RJ22', 'RJ23', 'RJ18', 'RJ42',
       'RJ48', 'RJ10', 'RJ51', 'RJ40', 'HE26', 'RJ20', 'RJ16', 'RR23',
       'RJ07', 'RJ21', 'MP17', 'RJ29', 'RJ41', 'RJ36', 'RJ11', 'RJ44',
       'RJ06', 'RJ26', 'RH14', 'RJ25', 'PB22', 'RJ31', 'GJ10', 'RJ34',
       'RJ28', 'RJ39', '999 cc', 'RJ09', 'RJ04', 'RJ24', 'RJ53', 'PB65',
       'RJ43', 'RJ12', 'RJ47', 'MP33', 'MH49', 'HR27', 'RJ30', 'RJ52',
       'GJ14', 'R14C', 'RJ4G', '993 cc', 'UP72', 'HR43', 'MP13', 'BR3F',
       'RJ35', 'MH18', 'UP64', 'UP82', 'WB24', 'WB06', 'WB18', 'WB22',
       'WB20', 'WB10', 'WB96', 'WB92', 'UP33', 'AR01', 'WB36', 'null',
       'WB42', 'WB16', 'WB40', 'WB34', 'WB74', 'WB98', 'OD33', 'WB44',
       'WB52', 'AS05', 'Wb24', 'Wb10', 'WB14', 'WB32', 'WB50', 'WB94',
       'Wb14', 'Wb26', 'GJ05', 'Wb08', 'Wb06', 'HP47', 'Wb02', 'Wb12',
       'Wb52', 'Wb16', 'wb02', 'Wb34', 'WB90', 'WB30', '1061 cc', 'wb52',
       'WW06', 'AN01', '1995 cc', 'WB68', 'WB04', 'WB84', 'GJ15', 'WB60',
       'WB66', 'WB05', 'wb24', 'wB24', 'WB03', 'BR01', 'wb06', 'WB58',
       'WB64', 'AS04', 'WB72'], dtype=object)

In [60]:
all_data.loc[all_data['RDO_no'].isin(['First Owner','Third Owner', 'Second Owner','Fourth Owner','Fifth Owner',
                                    '796 cc','1999 cc', 'Manual','1197 cc', '998 cc', 'Automatic','2993 cc','1799 cc',
                                     '2446 cc','999 cc','993 cc','1995 cc','1061 cc']),['RDO_no']]=np.nan
all_data['RDO_no'].isnull().sum()

911

In [61]:
#cvar engine
# all_data['car_engine_cc'].value_counts()
all_data[(all_data['car_engine_cc'].isin(['0']))|(all_data['car_engine_cc'].isnull()==True)]

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location,age
575,Electric,Hatchback,150,Automatic,1,MG,MG Comet EV,2023,950000.0,2023,4,NaN,0,,Grey,4,bangalore,0
600,Petrol,Hatchback,60000,Manual,3,Hyundai,Hyundai Santro Xing,2006,130000.0,2006,5,NaN,NaN,10,Others,NaN,bangalore,17
601,Electric,SUV,10000,Automatic,1,Tata,Tata Nexon EV Max,2023,1800000.0,2023,5,KA02,0,,Others,5,bangalore,0
623,Electric,SUV,30000,Automatic,1,Tata,Tata Nexon EV Prime,2020,1350000.0,2020,5,NaN,0,,Others,5,bangalore,3
624,Electric,SUV,21236,Automatic,1,Tata,Tata Nexon EV Prime,2022,1450000.0,2022,5,KA05,0,,White,5,bangalore,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8163,Electric,SUV,53700,Automatic,1,Tata,Tata Nexon EV Prime,2020,1220000.0,2020,5,WB02,0,,White,5,kolkata,3
8168,Electric,SUV,31100,Automatic,1,Tata,Tata Nexon EV Prime,2020,1275000.0,2020,5,WB02,0,,White,5,kolkata,3
8170,Electric,SUV,26000,Automatic,1,Tata,Tata Nexon EV Prime,2021,1350000.0,2021,5,WB64,0,,Green,5,kolkata,2
8178,Electric,Sedan,48277,Automatic,1,Tata,Tata Tigor EV,2022,900000.0,2022,5,WB98,0,,Blue,S,kolkata,1
8260,Petrol,Sedan,28000,Manual,1,Ford,Ford Fiesta,2010,195000.0,2010,5,WB06,NaN,15.3,Violet,5,kolkata,13

In [62]:
for i,j in zip(all_data.loc[(all_data['car_engine_cc'].isin(['0']))|(all_data['car_engine_cc'].isna()==True)]['brand'],all_data.loc[(all_data['car_engine_cc'].isin(['0']))|(all_data['car_engine_cc'].isna()==True)]['model']):
    value=all_data.loc[(all_data['brand'] == i)&(all_data['model'] == j)]['car_engine_cc'].value_counts().index[0]
    all_data.loc[(all_data['car_engine_cc'].isin(['0']))|(all_data['car_engine_cc'].isnull()==True),'car_engine_cc']=value
    print(value)

0
1086
1086
1086
1086
1086
1086
1086
1086
1086
1197
1086
796
1086
1086
1086
1197
1995
1086
1086
1086
1086
1086
1086
1197
1086
1086
1086
1086
1086
1086
1496
1086
1086
1086
1086
1086
1496
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
3198
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1086
1197
1197
2354
1086
1086
1197
1086
2354
1086
1086
1086
1086
1086
1086
1086

In [63]:
all_data[all_data['car_engine_cc']=='0']

Empty DataFrame
Columns: [fuel_type, body_type, kilometer, transmission_type, owner_no, brand, model, model_year, price, registration_year, seats_count, RDO_no, car_engine_cc, mileage, color, gear_box, location, age]
Index: []

In [64]:
all_data['car_engine_cc']=all_data['car_engine_cc'].astype(int)

In [65]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8364 entries, 0 to 8368
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fuel_type          8364 non-null   object
 1   body_type          8364 non-null   object
 2   kilometer          8364 non-null   int32
 3   transmission_type  8364 non-null   object
 4   owner_no           8364 non-null   int64
 5   brand              8364 non-null   object
 6   model              8364 non-null   object
 7   model_year         8364 non-null   int64
 8   price              8364 non-null   float64
 9   registration_year  8364 non-null   int32
 10  seats_count        8364 non-null   int32
 11  RDO_no             7453 non-null   object
 12  car_engine_cc      8364 non-null   int32
 13  mileage            8364 non-null   object
 14  color              8364 non-null   object
 15  gear_box           8327 non-null   object
 16  location           8364 non-null   object
 17  age                8364 non-null   int64
dtypes: float64(1), int32(4), int64(3), object(10)
memory usage: 1.1+ MB

In [66]:
# all_data['mileage'].unique()
d=all_data[all_data['mileage']=='']
all_data.drop(d.index,inplace=True)

In [67]:
all_data['mileage']=all_data['mileage'].astype(float)

In [68]:
#gear
all_data['gear_box'].unique()

array(['5', '6', '7', '4', '8', '9', 'C', 'F', nan, 'I', 'i', 'A', 'R',
       'S', 'E', '1', 'M', 'e'], dtype=object)

In [69]:
all_data[all_data['gear_box']=='e']

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location,age
7945,Petrol,SUV,4732,Automatic,1,Maruti,Maruti Grand Vitara,2023,1900000.0,2023,5,WB08,1490,27.97,Blue,e,kolkata,0

In [70]:
mappings = {
    '5':'5',
    '6':'6',
    '7':'7',
    '4':'4',
    '8':'8',
    '9':'9',
    'C':'4',
    'F':'6',
    'nan':'5',
    'I':'5',
    'i':'5',
    'A':'5',
    'R':'6',
    'S':'5',
    'E':'6',
    '1':'4',
    'M':'4',
    'e':'6'}
 
all_data['gear_box'] =all_data['gear_box'].map(mappings)
all_data

,fuel_type,body_type,kilometer,transmission_type,owner_no,brand,model,model_year,price,registration_year,seats_count,RDO_no,car_engine_cc,mileage,color,gear_box,location,age
0,Petrol,Hatchback,120000,Manual,3,Maruti,Maruti Celerio,2015,400000.0,2015,5,KA51,998,23.10,White,5,bangalore,8
1,Petrol,SUV,32706,Manual,2,Ford,Ford Ecosport,2018,811000.0,2018,5,KA05,1497,17.00,White,5,bangalore,5
2,Petrol,Hatchback,11949,Manual,1,Tata,Tata Tiago,2018,585000.0,2018,5,KA03,1199,23.84,Red,5,bangalore,5
3,Petrol,Sedan,17794,Manual,1,Hyundai,Hyundai Xcent,2014,462000.0,2014,5,KA53,1197,19.10,Others,5,bangalore,9
4,Diesel,SUV,60000,Manual,1,Maruti,Maruti SX4 S Cross,2015,790000.0,2015,5,KA04,1248,23.65,Gray,5,bangalore,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8364,Petrol,Hatchback,10000,Manual,1,Maruti,Maruti Celerio,2022,510000.0,2022,5,NaN,998,25.24,Others,5,kolkata,1
8365,Petrol,Hatchback,120000,Manual,1,Maruti,Maruti Alto 800,2014,180000.0,2014,5,NaN,796,22.74,Others,5,kolkata,9
8366,Petrol,Sedan,50000,Automatic,3,Mercedes-Benz,Mercedes-Benz C-Class,2011,550000.0,2011,5,WB06,1796,11.74,Others,7,kolkata,12
8367,Petrol,Hatchback,40000,Manual,1,Maruti,Maruti Ritz,2012,140000.0,2012,5,NaN,1197,18.50,Others,5,kolkata,11
8368,Diesel,SUV,120000,Manual,2,Renault,Renault Duster,2017,500000.0,2017,5,NaN,1461,19.72,Others,6,kolkata,6

In [71]:
all_data.loc[(all_data['gear_box'].isnull()==True),'gear_box']='5'

In [72]:
all_data[all_data['gear_box'].isnull()]

Empty DataFrame
Columns: [fuel_type, body_type, kilometer, transmission_type, owner_no, brand, model, model_year, price, registration_year, seats_count, RDO_no, car_engine_cc, mileage, color, gear_box, location, age]
Index: []

In [73]:
all_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8338 entries, 0 to 8368
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fuel_type          8338 non-null   object
 1   body_type          8338 non-null   object
 2   kilometer          8338 non-null   int32
 3   transmission_type  8338 non-null   object
 4   owner_no           8338 non-null   int64
 5   brand              8338 non-null   object
 6   model              8338 non-null   object
 7   model_year         8338 non-null   int64
 8   price              8338 non-null   float64
 9   registration_year  8338 non-null   int32
 10  seats_count        8338 non-null   int32
 11  RDO_no             7432 non-null   object
 12  car_engine_cc      8338 non-null   int32
 13  mileage            8338 non-null   float64
 14  color              8338 non-null   object
 15  gear_box           8338 non-null   object
 16  location           8338 non-null   object
 17  age                8338 non-null   int64
dtypes: float64(2), int32(4), int64(3), object(9)
memory usage: 1.1+ MB